.creations {
  @include breakpoint-up(large) {
    margin-bottom: 8.4375rem;
  }
  &__header {
    h2 {
      text-align: center;
      color: $black;
      font-size: 2rem;
      margin: 3.5rem 0 3.125rem;
    }

    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.3rem;
    }
  }

  &__item {
    position: relative;
  }

  &__image {
    height: 7.5rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }

    @include breakpoint-up(large) {
      height: 20.0625rem;

      img {
        filter: brightness(90%);
      }
    }
  }

  &__text {
    position: absolute;
    left: 5%;
    bottom: 10%;
    color: $white;
    width: 130px;

    h3 {
      font-size: 1.5rem;
    }

    @include breakpoint-up(large) {
      left: 15%;
      bottom: 6%;
    }
  }

  &__button {
    a {
      color: $black;
      display: inline-block;
      padding: 0.5rem 3.125rem;
      border: 1px solid $black;
      margin-top: 2.625rem;
      margin-bottom: 4.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    @include breakpoint-up(large) {
      a {
        margin: 0;
        padding: 0.3rem 2rem;
        font-size: 0.75rem;
      }
    }
  }
}
